@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    font-family: 'Play', sans-serif;
}
body{
    background-color: #212121;
}
.navbar-nav{
    font-size: 16px;
}
.home_world {
    padding: 0.25rem 1rem;
    color:#fec591;
    font-weight: 700;
}
.panel-heading{
    display: flex;

}
.dropdown-menu .home_world {
    padding:4px 20px;
}
.mynav {
    display: inline;
}
.mynav li{
    float: left;
}
.mynav li a {
    color: rgba(255, 255, 255, 0.55);
}

.form-control, .form-control:focus {
    margin: 15px 10px;
    border-radius: 10px;
    background-color: #212121;
    border: none;
    color: rgba(255, 255, 255, 0.55); /*#f1b13c*/
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
}

.btn-primary{
    margin: 15px 10px;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 3px 3px 5px #1b1a1a, -3px -3px 5px #2b2b2b;
    border: none;
    color: #fec591;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}
.btn-primary:hover {
    box-shadow: inset 3px 3px 5px #1b1a1a, inset -3px -3px 5px #2b2b2b;
    transform: scale(0.98);
    border: none;
    background-color: #212121;
    color: rgba(255, 255, 255, 0.55);
}
.dropdown-menu{
    background: rgb(191 191 191);
}
.dropdown-menu li:hover{
    background: #9b9b9b;
}
.dropdown-menu .home_world{
    background: #9b9b9b;
}

.dropdown-item:hover, .dropdown-item:focus{
    color: rgba(255, 255, 255, 0.75);
    background-color: #e9ecef00;
}
ul.dropdown-menu li:focus{
    color: #fec591;
}
.col-form-label{
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
}
input[type=file]{
    color: rgba(255, 255, 255, 0.55);
}
.btn-primary{
    outline: none;
    cursor: pointer;
}

.table{
    border-color: rgba(255, 255, 255, 0.55);
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: normal;
}

td, td a {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-weight: normal;
}


.alert-danger{
    color: #91484f;
    background-color: #f8d7da00;
    border-color: #91484f;
}


